/* Body, Page Structure */
body {
  width: 100%;
  height: 100%;
  background-image: url("images/lake-background.JPG");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

div.p-box {
  background: rgba(159, 166, 179, 0.7)
}

div.p-box-center{
  background: rgba(159, 166, 179, 0.7)
}

/*----- Header Navigation-----*/

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none;
  font-size: 18px;
}

header nav ul li a {
  color:rgb(0, 0, 0);
  text-decoration: none;
  padding: 0 20px 0 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header nav ul li a:hover {
  color: #bdbdbd;
}

/*---- Setting up groups and items for flexbox */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 5px;
}

.item-double {
  flex: 2;
  margin: 5px;
}

.item-triple {
  flex: 3;
  margin: 5px;
}

/*------ Box Sizing ------*/

* {
  box-sizing: border-box;
}


/*------ Images ------*/
img {
  width: 80%;
  border: 5px;
}

img.rounded {
  border-radius: 8px;
}

.sweden-bike {
  height: 90vh;
  width: auto;
}

images/lake-background.JPG {
  opacity: .5;
}

/*------ Fonts, Colors, Backgrounds ------*/

h1 {
  font-size: 36px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h2, h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p, ul, ol, li {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/*----- p-box container for each section -----*/
.p-box {
  margin: 5vh;
  width: 100%;
  border: black solid 3px;
  padding:30px;
  margin-bottom: 10px;
  text-align: left;
}

.p-box-center {
  margin: 5vh;
  width: 100%;
  border: black solid 3px;
  padding:30px;
  margin-bottom: 10px;
  text-align: center;
}

/*--------Contact Form -------*/
form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form input[type=text],
form textarea {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
}

form textarea {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 160px;
}

form button {
  padding: 10px 16px;
  border-radius: 10px;
  border: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  background:#000;
  color: #fff;
  margin: 0 8px 10px 0;
}

form button:hover {
  font-size: 16px;
  background:#fff;
  color: green;
}

/*--------- Pseudo Classes ---------*/
/*--------- unvisited link ---------*/
main a:link {
  color: blue;
}

/* visited link */
main a:visited {
  color: red;
}

/* mouse over link */
main a:hover {
  color: green;
}

/* selected link */
main a:active {
  color: pink;
}
}


/*------ Groups and Items (Desktop) ----*/
@media all and (min-width:800px) {
 .group {
  display: flex;
  flex-direction: column;
}
}
