/* Body, Page Structure */
body {
  width: 100%;
  height: 100%;
  background-image: url("images/pittsburgh-wallpaper.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: auto;
  padding: 0 20px 0 0;
  
}

/*---making the background of the p-boxes translucent gray ---*/
div.p-box {
  background: rgba(159, 166, 179, 0.9)
}

div.p-box-center{
  background: rgba(159, 166, 179, 0.9)
}

/*----- Header Navigation-----*/
header h1 {
  font-size: 24px;
  text-emphasis: bold;
  font-weight:900;
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

header nav {
  display: flex;
  flex-direction: column;
  align-self: center;
}

header nav ul {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 5px 0 5px;
}

header nav ul li {
  list-style-type: none;
  font-size: 18px;
  align-self: center;
}

header nav ul li a {
  color:rgb(0, 0, 0);
  text-decoration: none;
  padding: 0 0px 0 0; 
  font-family: 'Open Sans', sans-serif;
}

header nav ul li a:hover {
  color: #bdbdbd;
}

header nav ul li:last-child a {
  margin-right: 0;
}

/*---- Setting up groups and items for flexbox */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 5px;
}

.item-double {
  flex: 2;
  margin: 5px;
}

.item-triple {
  flex: 3;
  margin: 5px;
}

/*------ Box Sizing ------*/

* {
  box-sizing: border-box;
}


/*------ Images ------*/
img {
  width: 100%;
  border: 5px;
}

img.rounded {
  border-radius: 8px;
}

.sweden-bike {
  height: auto;
  width: 80%;
  max-width: 500px;
}

images/lake-background.JPG {
  opacity: .5;
}

/*------ Fonts, Colors, Backgrounds ------*/



h1 {
  font-size: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2, h3, h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p, ul, ol, li {
  font-family: 'Open Sans', sans-serif;
}

.item h4 {
  font-style: italic;
}


/*----- p-box container for each section -----*/
.p-box {
  margin: 1vh 1vw;
  width: 100%;
  /*border: black solid 3px;*/
  padding: 30px;
  margin-bottom: 10px;
  text-align: left;
}

.p-box-center {
  margin: 1vh 1vw;
  width: 100%;
  /*border: black solid 3px;*/
  padding: 30px;
  margin-bottom: 10px;
  text-align: center;
}

/*--------Contact Form -------*/
form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

form input[type=text],
form textarea {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
}

form textarea {
  font-family: 'Open Sans', sans-serif;
  height: 160px;
}

form button {
  padding: 10px 16px;
  border-radius: 10px;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background:#000;
  color: #fff;
  margin: 0 8px 10px 0;
}

form button:hover {
  font-size: 16px;
  background:#fff;
  color: green;
}

/*--------- Pseudo Classes ---------*/
/*--------- unvisited link ---------*/
main a:link {
  color: blue;
}

/* visited link */
main a:visited {
  color: red;
}

/* mouse over link */
main a:hover {
  color: green;
}

/* selected link */
main a:active {
  color: pink;
}



/*------ Groups and Items (Desktop) ----*/
@media all and (min-width:400px) {
 .group {
  display: flex;
  flex-direction: column;
}
.sweden-bike {
  height: auto;
  width: 50%;
}
/*--- Changes header flex direction to row--*/
header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none;
  font-size: 18px;
}

header nav ul li a {
  color:rgb(0, 0, 0);
  text-decoration: none;
  padding: 0 20px 0 0;
  font-family: 'Open Sans', sans-serif;
}

header nav ul li a:hover {
  color: #bdbdbd;
}

header nav ul li:last-child a {
  margin-right: 0;
  padding: 0 0px 0 0px;
}

header h1 {
  font-size: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.p-box-center,
.p-box,
nav.p-box,
nav.p-box-center {
  margin: 3vh 3vw;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("images/pittsburgh-wallpaper.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  padding: 0 18vw 0 16vw;
  
}

#portfolio h3 {
  font-weight: bold;
}

}
